$cool-black: #000;
$ancho: 100%;
$alto:100%;

a {
    text-decoration: none;
}
.modulo__content {
    display: inline-flex;
    font-size: 30px;
    color:$cool-black;
    margin-bottom: 5px;
    padding-top: 50px;
    padding-bottom: 35px;
    width: $ancho;
    justify-content: center;
    &__img{
        width: ($ancho/2);
        height:($alto/2);
    }
    a {
        text-decoration: none;
        h2 {
            font-weight: 400;
            left: 50px;
            padding-top: 25px;
            color: $cool-black;
        }
    }
}
